/* Importar fuente fuerte de Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:wght@400;700&display=swap');

/* Usamos el nombre de la clase de Bootstrap para ser más específicos */
.btn.btn-danger {
    transition: transform 0.3s ease-in-out !important;
}

.btn.btn-danger:hover {
    transform: scale(1.1) !important;
    box-shadow: 0 10px 20px rgba(0,0,0,0.4) !important;
}